<!DOCTYPE html>
<html lang="en">

<% include partials/head %>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <% include partials/navBar %>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/mislibros">BibliotecaT</a>
        </li>
        <li class="breadcrumb-item active">Mi Perfil</li>
      </ol>
      <div class="row">
        <div class="col-6">
          <div class="card">
            <img class="card-img-top img-fluid img-profile" src="<%- user.picture%>" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Mi perfil</h4>
              <p class="card-text"><strong>Email:</strong> <%= user.email %></p>
              <p class="card-text"><strong>Nombre de usuario:</strong> <%= user.username %></p>
              <a href="/editProfile" class="card-link">Editar perfil</a>
            </div>
          </div>
        </div>
        <div class="col-6">
            <h1>Mis relatos</h1>
            <hr>
            <h2>¿Te apetece escribir? <br></h2>
            <a class="nav-link" href="/crearRelato"><h4>Pincha aquí para crear un relato nuevo</h4></a>
            <hr>
            <strong>Número de relatos: </strong> <%= user.nrelatos %> <br>
            <% if(relato) { %>
              <% for(var i=0;i<relato.length;i++){ %>
                <div class="row">
                  <div class="col-12">
                    <div class="card border-secondary mb-3 card-relatos">
                      <div class="card-header">Categoría: <%= relato[i].categoria %></div>
                        <div class="card-body">
                          <h5 class="card-title"><%= relato[i].titulo %></h5>
                          <p class="card-text"><%= relato[i].textoRelato %></p>
                          <hr>
                          <p class="card-text"><small>Positivos: <%= relato[i].positivo %></small></p>
                          <p class="card-text"><small>Negativos: <%= relato[i].negativo %></small></p>
                        </div>
                        <div class="card-footer">
                          <form action="/eliminarRelato" method="post">
                            <input type="submit" class="btn btn-primary btn-block" name="relatoEliminar" value="Elimina <%= relato[i].titulo %>">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>  
                <% } %>
            <% } %>
           </div>      
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <% include partials/footer %>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
 
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
    <script src="js/sb-admin-charts.min.js"></script>

  </div>
</body>

</html>
